<div [@routerTransition]>
  <app-page-header [heading]="'Launch Pega'" [icon]="'fa-edit'"></app-page-header>
  <div class="card">
    <div class="card-header">Launch Configuration</div>
    <div class="card-body">
      <form [formGroup]="myForm" (ngSubmit)="launchclicked()">
        <div class="container">
          <div class="row">
            <ngb-alert type="success" *ngIf="launched" (close)="launched = null"
              ><strong>{{ serverName }}</strong> is Launching.. <br />Once the server is ready, Access URL can be seen in Dashboard [TAB] in
              Sidebar.</ngb-alert
            >

            <div class="col-md-6">
              <div class="form-group">
                <label for="orgName">Enviroment Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Enviroment Name"
                  formControlName="orgName"
                  style="height:35px;border-radius: 5px;"
                  required
                />
              </div>
              <!--
                  <div class="form-group">
                    <label for="provider">Cloud Vendor</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="provider"
                      placeholder="Enter cloud vendor"
                      style="  height:35px;border-radius: 5px;"
                    />
                  </div>
                -->
              <div class="form-group">
                <label for="provider">Cloud Vendor</label> <br />
                <select class="form-control" formControlName="provider" required style="  height:35px;border-radius: 5px;">
                  <option value="" disabled>Select Cloud Vendor</option>
                  <option *ngFor='let vendor of CloudVendor' [value]="vendor.value">
                    {{vendor.key}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="version">Pega Version</label> <br />
                <select class="form-control" formControlName="version" required style="  height:35px;border-radius: 5px;">
                  <option value="" disabled>Select Pega Version</option>
                  <option *ngFor='let version of PegaVersion' [value]="version.value">
                    {{version.key}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="server">Application Server</label> <br />
                <select class="form-control" formControlName="server" required style=" height:35px;border-radius: 5px;">
                  <option value="" disabled>Select application server</option>
                  <option *ngFor='let app of ApplicationServer' [value]="app.value">
                    {{app.key}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="dbserver">DB Server</label> <br />
                <select class="form-control" formControlName="dbserver" required style="  height:35px;border-radius: 5px;">
                  <option value="" disabled>Select Database Server</option>
                  <option *ngFor='let db of DbServer' [value]="db.value">
                    {{db.key}}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="duration">Installation</label> <br />
                <select class="form-control" formControlName="machinetype" required style="  height:35px;border-radius: 5px;">
                  <option value="">Select installation type</option>
                  <option *ngFor='let machine of MachineType' [value]="machine.value">
                    {{machine.key}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="scheduler">Architecture</label> <br />
                <select class="form-control" formControlName="architecturetype" required style="  height:35px;border-radius: 5px;">
                  <option value="" disabled selected>Select architecture type</option>
                  <option *ngFor='let ac of Architecture' [value]="ac.value">
                    {{ac.key}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="scheduler">Data Center</label> <br />
                <select class="form-control" formControlName="region" style="  height:35px;border-radius: 5px;" required>
                  <option value="" disabled selected>Select data center region</option>
                  <option *ngFor='let region of Region' [value]="region.value">
                    {{region.key}}
                  </option>
                </select>
              </div>
              <button class="btn btn-success" [disabled]="!myForm.valid" style="float: right">Launch</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
  </div>
</div>
