<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="#">Pega Deploy On Demand </a>
  <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
    <!-- <span class="navbar-toggler-icon"></span> -->
    <i class="fa fa-bars text-muted" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link mt-1" style="padding: 0.375rem 1rem !important; border-color: #999;" (click)="rltAndLtr()">
                    RTL/LTR
                </a>
            </li> &nbsp;-->
      <li class="nav-item dropdown" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
          <i class="fa fa-bell"></i> <b class="caret"></b> <span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <a href="javascript:void(0)" class="dropdown-item"> {{ 'Pending Task' | translate }} <span class="badge badge-info">6</span> </a>
          <a href="javascript:void(0)" class="dropdown-item"> {{ 'In queue' | translate }} <span class="badge badge-info"> 13</span> </a>
          <a href="javascript:void(0)" class="dropdown-item"> {{ 'Mail' | translate }} <span class="badge badge-info"> 45</span> </a>
          <li class="dropdown-divider"></li>
          <a href="javascript:void(0)" class="dropdown-item"> {{ 'View All' | translate }} </a>
        </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
          <i class="fa fa-language"></i> {{ 'Language' | translate }} <b class="caret"></b>
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')"> {{ 'English' | translate }} </a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fr')"> {{ 'French' | translate }} </a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('ur')"> {{ 'Urdu' | translate }} </a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('es')"> {{ 'Spanish' | translate }} </a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('it')"> {{ 'Italian' | translate }} </a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fa')"> {{ 'Farsi' | translate }} </a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('de')"> {{ 'German' | translate }} </a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('zh-CHS')"> {{ 'Simplified Chinese' | translate }} </a>
        </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle> <i class="fa fa-user"></i> Administrtor <b class="caret"></b> </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
            <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
