<div class="card-body">
  <ul class="timeline">
    <li>
      <div class="timeline-badge warning"><i class="fa fa-amazon"></i></div>
      <div class="timeline-panel ">
        <div class="timeline-heading">
          <h4 class="timeline-title">Pega on AWS Cloud</h4>
          <p>
            <small class="text-muted"> Amazon Web Services <i class="fa fa-info"></i> </small>
          </p>
        </div>
        <div class="timeline-body">
          <p>
            Amazon Web Services is a subsidiary of Amazon.com that provides on-demand cloud computing platforms to individuals, companies
            and governments, on a paid subscription basis. The technology allows subscribers to have at their disposal a virtual cluster of
            computers, available all the time, through the Internet.
          </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge danger"><i class="fa fa-google"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Pega on GCP Cloud</h4>
          <p>
            <small class="text-muted"> Google Cloud Platform <i class="fa fa-info"></i> </small>
          </p>
        </div>
        <div class="timeline-body">
          <p>
            Google Cloud Platform, offered by Google, is a suite of cloud computing services that runs on the same infrastructure that
            Google uses internally for its end-user products, such as Google Search and YouTube
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge primary"><i class="fa fa-windows"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Pega on Azure Cloud</h4>
          <p>
            <small class="text-muted"> Microsoft Azure <i class="fa fa-info"></i> </small>
          </p>
        </div>
        <div class="timeline-body">
          <p>
            Microsoft Azure is a cloud computing service created by Microsoft for building, testing, deploying, and managing applications
            and services through a global network of Microsoft-managed data centers.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
