<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/logo.png" width="150px" class="img-responsive" />
      <h1>Pega Deploy on Demand</h1>
      <form role="form" [formGroup]="loginForm" (ngSubmit)="onLoggedin()">
        <div class="form-content">
          <ngb-alert type="danger" *ngIf="invalid" (close)="invalid = null">Username & Password is Invalid</ngb-alert>

          <div class="form-group">
            <input
              type="text"
              ng-model="name"
              class="form-control input-underline input-lg"
              formControlName="username"
              placeholder="{{ 'Username' | translate }}"
            />
          </div>

          <div class="form-group">
            <input
              type="password"
              formControlName="password"
              class="form-control input-underline input-lg"
              id=""
              placeholder="{{ 'Password' | translate }}"
            />
          </div>
        </div>
        <a class="btn rounded-btn" [routerLink]="['/overview']" (click)="onLoggedin()">{{ 'Log in' | translate }}</a> &nbsp;
        <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>-->
      </form>
    </div>
  </div>
</div>
