<div [@routerTransition]>
  <h2 class="text-muted">Dashboard <small>Environment Statistics</small></h2>
  <hr />
  <div class="row">
    <div class="col-xl-3 col-lg-6">
      <app-stat [bgClass]="'success'" [icon]="'fa-tasks'" [count]="count" [label]="'Environment Launched'"></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
      <app-stat [bgClass]="'danger'" [icon]="'fa-trash'" [count]="13" [label]="'Server Terminated'"></app-stat>
    </div>
  </div>
  <hr />
  <div class="card mb-3">
    <div class="card-header">Provisioned Servers</div>
    <div class="card-body table-responsive">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" cellspacing="50px" border="0">
        <!--
                  - Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition"
                -->

        <!-- ServerName Column -->
        <ng-container matColumnDef="envName">
          <th mat-header-cell *matHeaderCellDef style="padding-right: 20px;">Environment Name</th>
          <td mat-cell *matCellDef="let element" style="padding-right: 20px;">{{ element.envName }}</td>
        </ng-container>

        <!-- Cloud Provider Column -->
        <ng-container matColumnDef="cloud">
          <th mat-header-cell *matHeaderCellDef style="padding-right: 20px; text-align: center">Cloud Provider</th>
          <td mat-cell *matCellDef="let element" style="padding-right: 20px; text-align: center">{{ element.cloud }}
          </td>
        </ng-container>

        <ng-container matColumnDef="region">
          <th mat-header-cell *matHeaderCellDef style="padding-right: 20px; ">Region</th>
          <td mat-cell *matCellDef="let element" style="padding-right: 20px;">{{ element.region }}</td>
        </ng-container>

        <ng-container matColumnDef="launchedOn">
          <th mat-header-cell *matHeaderCellDef style="padding-right: 20px; ">Launched On</th>
          <td mat-cell *matCellDef="let element" style="padding-right: 20px;">{{ element.launchedOn }}</td>
        </ng-container>

        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef style="padding-right: 20px; ">Pega Version</th>
          <td mat-cell *matCellDef="let element" style="padding-right: 20px;">{{ element.version }}</td>
        </ng-container>
        <ng-container matColumnDef="architecturetype">
          <th mat-header-cell *matHeaderCellDef style="padding-right: 20px; ">Architecture</th>
          <td mat-cell *matCellDef="let element" style="padding-right: 20px;">{{ element.architecturetype }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef style="padding-right: 20px; ">Status</th>

          <td mat-cell *matCellDef="let element" style="padding-right: 20px;" (click)="getError(element.error)">
            <u [ngStyle]="{'color': element.error? 'red' : 'black'}">{{ element.status }}</u>

          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="accessUrl">
          <th mat-header-cell *matHeaderCellDef style="padding-right: 20px;">Access Url</th>
          <td mat-cell *matCellDef="let element" style="padding-right: 20px;">
            <a href="{{ element.accessURL }}">{{ element.accessURL }}</a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>