<nav class="sidebar" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
  <div class="list-group">
    <a [routerLink]="['/overview']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-leanpub" aria-hidden="true"></i>&nbsp; <span>{{ 'Overview' | translate }}</span>
    </a>
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp; <span>{{ 'Dashboard' | translate }}</span>
    </a>
    <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-edit"></i>&nbsp; <span>{{ 'Launch Pega' | translate }}</span>
    </a>
    <a [routerLink]="['/version']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-code-fork" aria-hidden="true"></i>&nbsp; <span>{{ 'Version Control' | translate }}</span>
    </a>
    <!--
    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('pages')">
        <i class="fa fa-cloud"></i>&nbsp; <span>{{ 'Cloud Components' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-monument"></i>&nbsp; <span>{{ 'AWS' | translate }}</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-monument"></i>&nbsp; <span>{{ 'GCP' | translate }}</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-monument"></i>&nbsp; <span>{{ 'Azure' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
-->

    <div class="header-fields">
      <a (click)="rltAndLtr()" class="list-group-item">
        <span> <i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
      </a>
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('languages')">
          <span> <i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b> </span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'languages'">
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)" (click)="changeLang('en')"> {{ 'English' | translate }} </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('fr')"> {{ 'French' | translate }} </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('ur')"> {{ 'Urdu' | translate }} </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('es')"> {{ 'Spanish' | translate }} </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('it')"> {{ 'Italian' | translate }} </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('fa')"> {{ 'Farsi' | translate }} </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('de')"> {{ 'German' | translate }} </a>
            </li>
          </ul>
        </li>
      </div>
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('profile')">
          <span> <i class="fa fa-user"></i>&nbsp; Administrator</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'profile'">
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)">
                <span> <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span> <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span> <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/login']" (click)="onLoggedout()">
                <span> <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
  <div class="toggle-button" [ngClass]="{ collapsed: collapsed }" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-left"></i>&nbsp; <span>{{ 'Collapse Sidebar' | translate }}</span>
  </div>
</nav>
