<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Pega Deploy On Demand in any Cloud</h1>
      <p>
        Providing industry-leading infrastructure, enterprise-grade services, and operational excellence for Pega Platform and strategic
        application solutions in the cloud.
      </p>
      <p>
        <a href="javascript:void(0)" class="btn btn-danger btn-lg" role="button">
          <i class="fa fa-book" aria-hidden="true"></i> Learn more »</a
        >
      </p>
    </div>
  </div>
</div>
<div class="card card-default">
  <div class="card-header"><i class="fa fa-cloud fa-fw"></i> Cloud Offerings</div>
  <!-- /.card-header -->
  <app-cloud-timeline></app-cloud-timeline>
  <!-- /.card-body -->
</div>
