.btn
{
  background-color:#ff6c2c;
  border-color: #ff6c2c;
  &:hover {
    background: darken(#ff6c2c, 5%);
    color:#fff;
    border-color: #ff6c2c;
  }
  &:active
  {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
 
}
h1{
  color:#ff6c2c;
}